body{
    background: black;
}
h1{
    color: white;
    text-align: center;
}
nav{
    background:rgba(255, 255, 255, 0);/* aqui es para cambiar el color  a menu */
    /* evitar que la caja se expanda */
    box-sizing:border-box ;/* tenemos una cajas */
    position: absolute;
    left:-18em ; 
    padding-top: 3em;
    top: 0;
    transition: all 0.3s;
    height: 100%;
    z-index: 5  ;
  }
  
  .menu{
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0; 
    width: 18em ;
  }
  
  .menu a{
    color: #ffffff ;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
  }
  
  .menu li{
    border-left: 3px solid rgb(253, 253, 253);
    padding: 0 10px 0 0.5em;
    transition: 0.3s;
  } 
  .menu li:hover{
    background: turquoise;
    padding: 0 10px 0 1.5em;
    transition: 0.3s;
  }
  
  li{
    color: whitesmoke;
  }
  
  .menu li a span{
    margin-left: 9px;
    
  }
  i{
      text-decoration: none;
      color:rgb(255, 255, 255);/* aqui es para cambiar el color de la letras de inicio, empresa  etc */
      font-size: 20px;/* cambiar el tamaño de la letra en el menu "inicio,quiene somos " */
  }
  
  span{
      margin-left: 15px;
      color: rgb(0, 0, 0);
  
  }
  
  nav.mostrar{
    left: 0;  
  }
  
  
    #mostrar-nav > label{
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 2em;
    z-index:10 ;
    font-size: 1.3em;
    color:black;
  } 